*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
 width: 400px;
 background-color: black;
 color: white;
 border: 1px solid;
}

.cal-button-row {
   display: flex;
   justify-content: space-between;
   margin: 5px 0;
}

.cal-button {
   background-color: rgb(145, 131, 131);
   border: none;
   color: white;
   flex-basis: 24.5%;
   font-size: 35px; 
}

button:hover {
   background-color: rgb(188, 196, 204);
   color: black;
}

.display {
   text-align: right;
   font-size: 35px;
   padding: 15px 10px;
}